#createReviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* flex-wrap: nowrap; */
  align-items: center;
}

.sizeReview {
}

#overall-rating {
}

#sizeDiv {
  text-align: center;
  width: 50%;
}

#sizeDescription {
  color: gray;
  font-size: 10px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#sizeButtonDiv {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

#size-description {
  font-size: 12px;
  color: gray;
}

#product-name-review {
}

#product-info-review {
  display: flex;
  justify-content: center;
}

#product-image-review {
  color: green;
  height: 150px;
}
