#createReviewContainer {
  color: black;
}

.sizeReview {
}

#sizeDiv {
  margin-left: 25%;
  text-align: center;
  width: 50%;
}

#sizeDescription {
  color: gray;
  font-size: 10px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#sizeButtonDiv {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

#size-description {
  font-size: 12px;
  color: gray;
}
