.all-reviews-container
{
    margin: 30px;
}

.positive-review
{
    display: inline-block;
    width: 50%;
    height: 10%;
}

.negative-review
{
    display: inline-block;
    width: 50%;
    height: 10%;
  
}

.MuiOutlinedInput-inputAdornedStart
{
    padding-left: 8px;
}