#review-count {
    margin-left: 5px;
    text-decoration: none;
    color: #067186;

   
}
#product-image {
    margin-right: 1000px;
    height: 220px;
    width: 220px;

}

.BrandProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 300px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
   
}
.BrandProduct_info{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-right: inherit;
   
}
#name {
    text-decoration: none;
    height: 100px;
    margin-bottom: -90px;
    font-size: 30px;
    margin-right: inherit;
    margin-top: 70px;
   
}
#pages{
    display: flex;
    justify-content: center;
}
