#productImg {
    display: inline;
    border: 3px solid black;
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    cursor: pointer;
    margin-left: 10px;
}

.altPhotoList {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 40px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 60%; 
    margin-top:10%;
    margin-left: 45%;
    background-color: rgb(182, 174, 174); 
    background-color: rgba(189, 189, 189); 
  } 

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .altPhoto {
      display: inline;
      max-width: 50px;
      height: 50px;
      border: 2px solid black;
      
  }
  
.listedPhoto {
    padding-bottom: 10px;
}

#modalImage {
    display: center;
    height: 100%;
    width: 100%;
}

.PhotoContainer{
    display: inline;
}