#customer-bought {
    color: #C45500;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
    background-color:rgb(233, 230, 230);
}

#customer-bought{
    float: left;
    margin-left: 25px;
    line-height: 28px;  
}

.pages {
    float: right;
    margin-right: 25px;
    line-height: 28px;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button {
    margin-top: 150px;
    height: 30px;
}

#left-nav {
    margin-left: 25px;
}




