.add_toCart{
    height: 400px;
    width: 220px;
    border: 2px solid black;
    margin-left: 1200px;
}
.button_purchase{
    margin-left: 10px;
    font: bold;
}

#price_tag {
    margin-left: 70px;
}

.shop_button  {
    background: #f0c14b;
    border-radius: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    color: #111;
    padding: 5px;
    margin-top: 15px;
    width: 130px;
    margin-left: 30px;
}

.shop_button:hover {
    background: #9c7410;
}

.secure{
    margin-top: 20px;
    margin-left: 30px;
    color:rgb(61, 59, 55); 
    font-weight: bold;
    display: inline-flex;
}

.lock_icon{
    height: 18px !important;
    width: 18px !important;
}

.ship{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.prime{
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;

}

.prime > input{
    margin-right: 5px;
}

.pro_gift{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;
}

.pro_gift > input{
    margin-right: 5px;
}