a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

button {
    background-color: transparent;
    border: transparent;
    color: #007185;
    font-size: 14px;
    padding-top: 10px;
    
}

h2, h3 {
    padding-bottom: 5px;
}

span {
    padding-bottom: 5px;
}

.head_rating {
    font-size: 18px;
}

.global_rating {
    font-size: 14px;
    color: #565959 !important;
}

.share_thoughts {
    font-size: 14px;
    color: #0F1111; 
    display: inline-block
}

.reviewSummary_container {
    padding-bottom: 20px;
}

.review_row, .by_feature, .write_a_review {
    margin-left: 20px;
}

.star_row {
    display: inline-block;
}

.light {
    line-height: 1px;
}

.a-icon a-icon-expand {
    background-image: url(https://m.media-amazon.com/images/S/sash/f9Cwl2OUDVHGXk8.png);
}

.writeReview {
    background: #d4d5d6;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    color: black;
    padding: 5px;
    width: 300px;
    margin-bottom: 5px;
}

.writeReview:hover {
    background: #b7b8b9;
}